BetConsole/Web References/localhost/WSToDatabase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="haslo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="haslo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="wiek" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNewUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeams">
        <s:complexType />
      </s:element>
      <s:element name="GetTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeamsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBets">
        <s:complexType />
      </s:element>
      <s:element name="GetBetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBetsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatches">
        <s:complexType />
      </s:element>
      <s:element name="GetMatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMatchesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatchesByLeague">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="leagueID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatchesByLeagueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMatchesByLeagueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLeagues">
        <s:complexType />
      </s:element>
      <s:element name="GetLeaguesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeaguesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserMoneyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserMoneyResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendUserMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendUserMoneyResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserBets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserBetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserBetsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserBetsByStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserBetsByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserBetsByStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBetForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="matchid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="typ" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBetForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddBetForUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMatchMinute">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMatchMinuteResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateBetStatus">
        <s:complexType />
      </s:element>
      <s:element name="UpdateBetStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTeamById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="teamid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTeamByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTeamByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatcheById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="matchid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMatcheByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMatcheByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGoal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="matchId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="czyGol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGoalResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kurs" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_gosc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_gosp" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="data" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="bramki_gosc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bramki_gosp" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minuta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMatchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="AddNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeams" />
  </wsdl:message>
  <wsdl:message name="GetTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBetsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBets" />
  </wsdl:message>
  <wsdl:message name="GetBetsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBetsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMatchesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMatches" />
  </wsdl:message>
  <wsdl:message name="GetMatchesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMatchesByLeagueSoapIn">
    <wsdl:part name="parameters" element="tns:GetMatchesByLeague" />
  </wsdl:message>
  <wsdl:message name="GetMatchesByLeagueSoapOut">
    <wsdl:part name="parameters" element="tns:GetMatchesByLeagueResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeaguesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLeagues" />
  </wsdl:message>
  <wsdl:message name="GetLeaguesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeaguesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserMoneySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserMoney" />
  </wsdl:message>
  <wsdl:message name="GetUserMoneySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserMoneySoapIn">
    <wsdl:part name="parameters" element="tns:SetUserMoney" />
  </wsdl:message>
  <wsdl:message name="SetUserMoneySoapOut">
    <wsdl:part name="parameters" element="tns:SetUserMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="SendUserMoneySoapIn">
    <wsdl:part name="parameters" element="tns:SendUserMoney" />
  </wsdl:message>
  <wsdl:message name="SendUserMoneySoapOut">
    <wsdl:part name="parameters" element="tns:SendUserMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserBetsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserBets" />
  </wsdl:message>
  <wsdl:message name="GetUserBetsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserBetsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserBetsByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserBetsByStatus" />
  </wsdl:message>
  <wsdl:message name="GetUserBetsByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserBetsByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="AddBetForUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddBetForUser" />
  </wsdl:message>
  <wsdl:message name="AddBetForUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddBetForUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMatchMinuteSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMatchMinute" />
  </wsdl:message>
  <wsdl:message name="UpdateMatchMinuteSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMatchMinuteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBetStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateBetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetTeamByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTeamById" />
  </wsdl:message>
  <wsdl:message name="GetTeamByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTeamByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetMatcheByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetMatcheById" />
  </wsdl:message>
  <wsdl:message name="GetMatcheByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetMatcheByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddGoalSoapIn">
    <wsdl:part name="parameters" element="tns:AddGoal" />
  </wsdl:message>
  <wsdl:message name="AddGoalSoapOut">
    <wsdl:part name="parameters" element="tns:AddGoalResponse" />
  </wsdl:message>
  <wsdl:message name="AddMatchSoapIn">
    <wsdl:part name="parameters" element="tns:AddMatch" />
  </wsdl:message>
  <wsdl:message name="AddMatchSoapOut">
    <wsdl:part name="parameters" element="tns:AddMatchResponse" />
  </wsdl:message>
  <wsdl:portType name="WSToDatabaseSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <wsdl:input message="tns:AddNewUserSoapIn" />
      <wsdl:output message="tns:AddNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <wsdl:input message="tns:GetTeamsSoapIn" />
      <wsdl:output message="tns:GetTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBets">
      <wsdl:input message="tns:GetBetsSoapIn" />
      <wsdl:output message="tns:GetBetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMatches">
      <wsdl:input message="tns:GetMatchesSoapIn" />
      <wsdl:output message="tns:GetMatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchesByLeague">
      <wsdl:input message="tns:GetMatchesByLeagueSoapIn" />
      <wsdl:output message="tns:GetMatchesByLeagueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeagues">
      <wsdl:input message="tns:GetLeaguesSoapIn" />
      <wsdl:output message="tns:GetLeaguesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMoney">
      <wsdl:input message="tns:GetUserMoneySoapIn" />
      <wsdl:output message="tns:GetUserMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserMoney">
      <wsdl:input message="tns:SetUserMoneySoapIn" />
      <wsdl:output message="tns:SetUserMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendUserMoney">
      <wsdl:input message="tns:SendUserMoneySoapIn" />
      <wsdl:output message="tns:SendUserMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBets">
      <wsdl:input message="tns:GetUserBetsSoapIn" />
      <wsdl:output message="tns:GetUserBetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBetsByStatus">
      <wsdl:input message="tns:GetUserBetsByStatusSoapIn" />
      <wsdl:output message="tns:GetUserBetsByStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBetForUser">
      <wsdl:input message="tns:AddBetForUserSoapIn" />
      <wsdl:output message="tns:AddBetForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMatchMinute">
      <wsdl:input message="tns:UpdateMatchMinuteSoapIn" />
      <wsdl:output message="tns:UpdateMatchMinuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBetStatus">
      <wsdl:input message="tns:UpdateBetStatusSoapIn" />
      <wsdl:output message="tns:UpdateBetStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamById">
      <wsdl:input message="tns:GetTeamByIdSoapIn" />
      <wsdl:output message="tns:GetTeamByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMatcheById">
      <wsdl:input message="tns:GetMatcheByIdSoapIn" />
      <wsdl:output message="tns:GetMatcheByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGoal">
      <wsdl:input message="tns:AddGoalSoapIn" />
      <wsdl:output message="tns:AddGoalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMatch">
      <wsdl:input message="tns:AddMatchSoapIn" />
      <wsdl:output message="tns:AddMatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSToDatabaseSoap" type="tns:WSToDatabaseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <soap:operation soapAction="http://tempuri.org/GetTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBets">
      <soap:operation soapAction="http://tempuri.org/GetBets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatches">
      <soap:operation soapAction="http://tempuri.org/GetMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchesByLeague">
      <soap:operation soapAction="http://tempuri.org/GetMatchesByLeague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeagues">
      <soap:operation soapAction="http://tempuri.org/GetLeagues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMoney">
      <soap:operation soapAction="http://tempuri.org/GetUserMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserMoney">
      <soap:operation soapAction="http://tempuri.org/SetUserMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUserMoney">
      <soap:operation soapAction="http://tempuri.org/SendUserMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBets">
      <soap:operation soapAction="http://tempuri.org/GetUserBets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBetsByStatus">
      <soap:operation soapAction="http://tempuri.org/GetUserBetsByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBetForUser">
      <soap:operation soapAction="http://tempuri.org/AddBetForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMatchMinute">
      <soap:operation soapAction="http://tempuri.org/UpdateMatchMinute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBetStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateBetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamById">
      <soap:operation soapAction="http://tempuri.org/GetTeamById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatcheById">
      <soap:operation soapAction="http://tempuri.org/GetMatcheById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGoal">
      <soap:operation soapAction="http://tempuri.org/AddGoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMatch">
      <soap:operation soapAction="http://tempuri.org/AddMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSToDatabaseSoap12" type="tns:WSToDatabaseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <soap12:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeams">
      <soap12:operation soapAction="http://tempuri.org/GetTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBets">
      <soap12:operation soapAction="http://tempuri.org/GetBets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatches">
      <soap12:operation soapAction="http://tempuri.org/GetMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchesByLeague">
      <soap12:operation soapAction="http://tempuri.org/GetMatchesByLeague" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeagues">
      <soap12:operation soapAction="http://tempuri.org/GetLeagues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMoney">
      <soap12:operation soapAction="http://tempuri.org/GetUserMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserMoney">
      <soap12:operation soapAction="http://tempuri.org/SetUserMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUserMoney">
      <soap12:operation soapAction="http://tempuri.org/SendUserMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBets">
      <soap12:operation soapAction="http://tempuri.org/GetUserBets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBetsByStatus">
      <soap12:operation soapAction="http://tempuri.org/GetUserBetsByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBetForUser">
      <soap12:operation soapAction="http://tempuri.org/AddBetForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMatchMinute">
      <soap12:operation soapAction="http://tempuri.org/UpdateMatchMinute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBetStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateBetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamById">
      <soap12:operation soapAction="http://tempuri.org/GetTeamById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatcheById">
      <soap12:operation soapAction="http://tempuri.org/GetMatcheById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGoal">
      <soap12:operation soapAction="http://tempuri.org/AddGoal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMatch">
      <soap12:operation soapAction="http://tempuri.org/AddMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSToDatabase">
    <wsdl:port name="WSToDatabaseSoap" binding="tns:WSToDatabaseSoap">
      <soap:address location="http://localhost:49702/WSToDatabase.asmx" />
    </wsdl:port>
    <wsdl:port name="WSToDatabaseSoap12" binding="tns:WSToDatabaseSoap12">
      <soap12:address location="http://localhost:49702/WSToDatabase.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>